<form>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite o nome da cidade">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" placeholder="Digite o estado">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" placeholder="Digite o CEP">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Habitantes</label>
        <input type="text" class="form-control" id="habitantes" placeholder="Digite a quantidade de Habitantes">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">País</label>
        <input type="text" class="form-control" id="pais" placeholder="Digite o País">
      </div>
     
      <button class="btn btn-danger">Editar</button>
    
</form>